<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="test/Horde/Image/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
  <coverage/>
  <source>
    <include>
      <directory suffix=".php">lib</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="horde/Image">
      <directory>test</directory>
    </testsuite>
  </testsuites>
</phpunit>